:root {
  --success: green;

  --error: rgb(253, 16, 16);
  --success-light: rgba(0, 128, 0, 0.4);
  --error-light: rgba(243, 16, 16, 0.4);
}

.main-header .sidebar-toggle:before {
  content: "";
} 

.content-wrap {
  min-height: 0 !important;
  overflow: auto;
}
aside.main-sidebar {
  box-sizing: border-box;
  padding-top: 75px;
}

.success {
  background-color: var(--success);
}
.warning {
  background-color: var(--warning);
}
.error {
  background-color: var(--error);
}

#toasts {
  position: fixed;
  /* top:10px; */
  right: 10px;
}
.toasts {
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  border-left:6px solid var(--error);
  overflow: hidden;
  animation: slide_show 5s ease forwards;
  z-index: 1;
}
.toasts i {
  margin: 0 10px;
}


.toasts.error {
  background: var(--error-light);
}

 /* @keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
} */
@keyframes slide_show {
  0% {
    transform: translateX(-10%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(200%);
  }
} 
div#adimation {
  position: fixed;
  right: 10px;
  top: 50px
 
}
.adimation.success {
  padding: 10px;
  border: none;
  background: rgb(118 205 118);
  color: white;
  overflow: hidden;
  border-left: green 6px solid;
    border-radius: 6px;
    animation: slide_show 5s ease forwards;
    z-index: 1;
}
.top {
  padding-top: 20px;
}
.icon ul {
  list-style: none;
  display: flex;

}

.icon ul li {
  margin: 0 10px;
}